#root {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(8, 10vh);
    justify-items: center;
    align-items: center;
}

#google-logo {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
}

#search-bar {
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-self: stretch;
    border-radius: 24px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: none;
    border: 1px solid #dfe1e5;
}

.button1 {
    position: relative;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    left: 120px;
    top: 25px;
}

.button2 {
    position: relative;
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
    padding: 5px 5px 5px 5px;
    margin: 15px;
    right: 30px;
    top: 25px;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 99%;
    position: fixed;
    top: 0;
    right: 10;
    left: 5;
}

#footer-bar {
    position: fixed;
    bottom: -15px;
    left: -30px;
    width: 100vw;
    background-color: #f2f2f2;
    border-color: black;
    border-width: thin;
}

li {
    display: inline;
    padding: 20px 10px 10px 10px;
    font-size: 12px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#location {
    position: fixed;
    bottom: 25px;
    left: 0px;
    padding-left: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #5f6368;
    font-size: 12;
    border: 1px;
    border-color: black;
    background-color: #f2f2f2;
    width: 100vw;
}
